# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea
.pnp.js
.vscode
/.pnp

# production
/build
/release

# testing
/coverage

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# generated demo thumbnails
docs/demo/*.jpg
